* {
  padding: 0;
  margin: 0;
}

body {
  background: #ffffffd6;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#myCanvas {
  background: #1414144f;
}

.startBtn {
  position: relative;
  bottom: 180px;
  left: 280px;
  padding: 10px 35px;
  background: #016cf1;
  color: #fff;
  font-family: Arial, sans-serif;
}
.btn-start {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 5px 20px;
  background-color: #fefefe;
  border: 2px solid #0095dd;
  border-radius: 0.2rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-hide {
  display: none;
}
