* {
  padding: 0;
  margin: 0;
}

body {
  background: #e6fa04d6;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#myCanvas {
  background: #000000;
}

.startBtn {
  position: relative;
  bottom: 180px;
  left: 280px;
  padding: 10px 35px;
  background: #016cf1;
  color: #fff;
  font-family: Arial, sans-serif;
}
